<% include partials/header %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/landing.css">
<div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 			    <meta name="google-site-verification" content="h2_wVMmK_spedzqD8zXL5wbKlkbuFrTmdL5F7VAWcx0" />
 				<h1>YelpSneaker</h1>
 				<h3>Start thinking about your next sneaker today</h3>
 				<hr>
 				<a href="/sneakers" class="btn btn-default btn-lg"><i class="fa fa-money"></i> Get Started!</a>
 			</div>
 		</div>
 	</div>
 </div>
 
 <script src="scripts/background.js"></script>

<% include partials/footer %>